---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$font-family-serif: "Arvo", serif;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #f7f7f7;
$brand-color:      #395271;

$grey-color:       #555555;
$grey-color-light: #bfbfbf;
$grey-color-lighter: #eee;
$grey-color-dark:  #333333;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$on-xs:            480px;

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "tables",
        "about",
        "syntax-highlighting",
        "_font-awesome/font-awesome"
;
